*{margin: 0; padding: 0; color: #292929;}
a{text-decoration: none;}
li{list-style: none;}
img{width: 100%; height: auto;}
.title{
  font-size: 1.6rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.title_color{
  color: #6287E5;
  margin: 0 10px;
}
.bookTitle{
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 35px;
}
.prev_btn,
.next_btn,
.heart_btn,
button{
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 10px;
  color: #ccc;
}
.prev_btn,
.next_btn{
  width: 35px; height: 35px;
}
button:hover{
  border: 1px solid #6287E5;
  color: #6287E5;
}
button svg{
  font-size: 1.6rem;
  font-weight: bold;
  fill: #ccc;
  border-radius: 10px;
}
button:hover svg{
  fill: #6287E5;
  color: #6287E5;
}
.row{
  margin: 0;
}

