.App {
  text-align: center;
  color: #292929;
}
.navbar{
  background-color: #6287E5;
  height: 60px;
}
.navbar_outer{
  margin: 0 auto;
  width: 1310px;
}
.line{
  color: #fff;
  font-size: 0.8rem;
  margin: 0 5px;
  padding-bottom: 2px;
}
.search_form{
  display: flex;
  align-items: center;
  width: 350px;
  border: none;
}
.search-button{
  display: flex;
  align-items: center;
  text-align: center;
  color:#6287E5; 
  border: none;
  width:70px; height: 33px;
}
.search-button:hover{
  background-color: #DDE8FD;
  color:#6287E5; 
}
.navbar-expand-md .navbar-nav .nav-link{
  color: #fff !important;
  font-size: 0.8rem !important;
}
.navbar-expand-md .navbar-nav .nav-link:hover{
  color: #ccc !important;
  font-size: 0.8rem !important;
}
.GnbLink p{
  color: #292929;
}

/* FOOTER */
.footer_outer{
  border-top: 1px solid #ccc;
  padding: 30px 0;
  font-size: 0.8rem;
  margin-top: 100px;
}
.footer_inner{
  width: 1310px;
  margin: 0 auto;
}
.footer_info_box01{
  display: flex;
  position: relative;
}
.footer_info_box01 p{
  margin-right: 5px;
}
.footer_info_box01 p:last-child{
  margin-right: 0;
}
.footer_info_box02{
  text-align: left;
}
.sns_box{
  position: absolute;
  right: 0;
}
.sns_box a{
  margin-left: 10px;
}
.sns_box svg{
  padding: 4px;
  border-radius: 5px;
  background-color: #DDE8FD;
  fill: #fff;
  width: 30px; height: 30px;
}